.title-head {
	text-align: center;
	font-size: 36px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
.title-head::after {
	content: "";
	display: block;
	width: 64px;
  height: 2px;
	margin: auto;
	margin-top: 34px;
	background: #E72424;
}
.title-text {
	text-align: center;
	margin-top: 34px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
  font-size: 14px;
	color: #86878B;
}
.pricing-wrap {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px;
	margin-top: 71px;
}
.pricing-item_one {
	background-color: #333333;
	color: white;
	width: 340px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
}
.pricing-item_two {
	background-color: #333333;
	color: white;
	width: 340px;
	text-align: center;
	line-height: 100px;
	margin-bottom: 1px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 35px;
}
.pricing-item_three {
	background-color: #333333;
	color: rgba(255, 255, 255, 0.5);
	width: 340px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 1px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
}
.pricing-item {
	color: #86878B;
	width: 340px;
	text-align: center;
	line-height: 40px;
	margin-bottom: 2px;
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 14px;
	background: white;
	
}
.pricing-list {
	margin: 0 15px;
	margin-bottom: 20px;
}
.pricing-options {
	background: #aeaeae;
}
